a {
    color:rgb(255, 38, 0);
    background-color: antiquewhite;
    text-align: center;
    text-transform: uppercase;
    
}
#fake {
    color:blueviolet;
}
body {
    background-image: url(./img/bg.webp);
    text-align: center;

}

h1 {
    text-align: center;

}